<footer class="footer-main">
    {{ site.name }} <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> {{ site.time | date: '%Y' }} <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

    <p class="extra">
        <a class="link" href="http://koppl.in/indigo">Theme</a> by <a class="link" href="http://koppl.in">koppl.in</a>
        and graphics by <a class="link" href="https://ch.linkedin.com/in/dianabirenbaum">Diana Birenbaum</a>
    </p>
</footer>
